<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yealink.dao.NodeMapper">
  <resultMap id="BaseResultMap" type="com.yealink.entities.Node">
    <!--@mbg.generated-->
    <id column="node_id" jdbcType="VARCHAR" property="nodeId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="datacenter" jdbcType="VARCHAR" property="datacenter" />
    <result column="port" jdbcType="INTEGER" property="port" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    node_id, `name`, address, datacenter, port
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from node
    where node_id = #{nodeId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from node
    where node_id = #{nodeId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yealink.entities.Node">
    <!--@mbg.generated-->
    insert into node (node_id, `name`, address, 
      datacenter, port)
    values (#{nodeId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{datacenter,jdbcType=VARCHAR}, #{port,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.yealink.entities.Node">
    <!--@mbg.generated-->
    insert into node
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="nodeId != null">
        node_id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="datacenter != null">
        datacenter,
      </if>
      <if test="port != null">
        port,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="nodeId != null">
        #{nodeId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="datacenter != null">
        #{datacenter,jdbcType=VARCHAR},
      </if>
      <if test="port != null">
        #{port,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yealink.entities.Node">
    <!--@mbg.generated-->
    update node
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="datacenter != null">
        datacenter = #{datacenter,jdbcType=VARCHAR},
      </if>
      <if test="port != null">
        port = #{port,jdbcType=INTEGER},
      </if>
    </set>
    where node_id = #{nodeId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yealink.entities.Node">
    <!--@mbg.generated-->
    update node
    set `name` = #{name,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      datacenter = #{datacenter,jdbcType=VARCHAR},
      port = #{port,jdbcType=INTEGER}
    where node_id = #{nodeId,jdbcType=VARCHAR}
  </update>
    <select id="selectByAddress" resultMap="BaseResultMap">
      select * from node where address = #{address}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
      select * from node
    </select>
    <select id="selectByNameAndAddressAndDatacenter" resultMap="BaseResultMap">
      select * from node where `name` = #{name} and address = #{address} and datacenter = #{datacenter}
    </select>
</mapper>