<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yealink.dao.RegisterInfoMapper">
  <resultMap id="BaseResultMap" type="com.yealink.entities.RegisterInfo">
    <!--@mbg.generated-->
    <result column="service_instance_id" jdbcType="VARCHAR" property="serviceInstanceId" />
    <result column="node_id" jdbcType="VARCHAR" property="nodeId" />
    <result column="datacenter" jdbcType="VARCHAR" property="datacenter" />
    <result column="service" jdbcType="VARCHAR" property="service" />
  </resultMap>
  <insert id="insert" parameterType="com.yealink.entities.RegisterInfo">
    <!--@mbg.generated-->
    insert into register_info (service_instance_id, node_id, datacenter, 
      service)
    values (#{serviceInstanceId,jdbcType=VARCHAR}, #{nodeId,jdbcType=VARCHAR}, #{datacenter,jdbcType=VARCHAR}, 
      #{service,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yealink.entities.RegisterInfo">
    <!--@mbg.generated-->
    insert into register_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="serviceInstanceId != null">
        service_instance_id,
      </if>
      <if test="nodeId != null">
        node_id,
      </if>
      <if test="datacenter != null">
        datacenter,
      </if>
      <if test="service != null">
        service,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="serviceInstanceId != null">
        #{serviceInstanceId,jdbcType=VARCHAR},
      </if>
      <if test="nodeId != null">
        #{nodeId,jdbcType=VARCHAR},
      </if>
      <if test="datacenter != null">
        #{datacenter,jdbcType=VARCHAR},
      </if>
      <if test="service != null">
        #{service,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
    <select id="selectServiceIdByDatacenter" resultType="java.lang.String">
      select service_instance_id from register_info where datacenter =#{datacenter}
    </select>
  <select id="selectServiceIdListByDatacenterAndService" resultType="java.lang.String">
    select service_instance_id from register_info where datacenter = #{datacenter} and service = #{service}
  </select>
  <select id="selectAllServiceInDatacenter" resultType="java.lang.String">
    select distinct service from register_info where datacenter = #{datacenter}
  </select>
  <update id="updateDatacenterByNodeId">
    update register_info set datacenter = #{datacenter} where node_id =#{node_id}
  </update>
  <select id="selectAllNodeIdByServiceInDatacenter" resultType="java.lang.String">
    select distinct node_id from register_info where service = #{service} and datacenter=#{datacenter}
  </select>
  <select id="selectAllServiceIdByNodeIdAndDatacenter" resultType="java.lang.String">
    select service_instance_id from register_info where node_id=#{nodeId} and datacenter=#{datacenter}
  </select>
</mapper>